.user-news-feed {
  &__grid {
    display: grid;

    grid-template-areas:
      "left center"
      "bottom bottom"
      "carousel carousel"
      "right right";

    @include min(md) {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "left center right"
        "bottom bottom bottom"
        "carousel carousel carousel";
      align-items: center;
    }
  }
  &__header-bottom {
    grid-area: bottom;
    margin-bottom: 32px;
    span {
      font-size: 16px;
    }
    a {
      font-size: 16px;
      color: var(--color-brand-blue-500);
      text-decoration: underline;
      &:hover {
        color: var(--color-brand-blue-800);
      }
    }
  }
  &__header-left {
    grid-area: left;
    i {
      color: var(--color-brand-green-500);
      font-size: 24px;
    }
    h2 {
      @include title-xs($margin-bottom: 0, $letter-spacing: 1.25px);
      color: var(--color-brand-gray-600);
      line-height: 16px;
    }
  }
  &__edit {
    cursor: pointer;
    i {
      font-size: 18px;
      color: var(--color-brand-gray-600);
      position: relative;
      top: 2px;
    }
  }
  &__header-center {
    grid-area: center;
    a {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.25px;
      color: var(--color-brand-blue-500);
      font-family: var(--font-whitney-semibold);
      &:hover {
        color: var(--color-brand-blue-800);
        i {
          left: 7px;
          transition: left ease-in-out .3s;
        }
      }
    }
    i {
      text-transform: lowercase;
      position: relative;
      left: 2px;
      transition: left ease-in-out .3s;
    }
  }
  &__header-right {
    grid-area: right;
    button {
      cursor: pointer;
      line-height: 0;
      background-color: var(--color-brand-blue-500);
      color: var(--color-white);
      width: 40px;
      height: 40px;
      border-radius: 9999px;
      i {
        font-size: 30px;
      }
      &.disabled {
        background-color: var(--color-brand-gray-400);
        i {
          color: var(--color-brand-gray-800);
        }
      }
      &:hover {
        background-color: var(--color-brand-blue-800);
        &.disabled {
          background-color: var(--color-brand-gray-400);
        }
      }
    }
  }
  &__carousel-embla {
    overflow: hidden;
    width: 100%;
    grid-area: carousel;
    margin-bottom: 32px;
    @include min(md) {
      margin-bottom: 0;
    }
  }
  &__carousel-track {
    display: flex;
    gap: 24px;
  }
  &__card-container {
    grid-area: carousel;
  }
  &__card {
    flex: 0 0 calc(100%);
    min-width: 0;
    height: 100%;
    //If you adjust the 24px here, adjust them also in &__carousel track, these are connected - it adjusts the gap between cards
    @include min(md) {
      flex: 0 0 calc((100% - (24px * 3)) / 4);
    }
    h3 {
      font-size: 18px;
      letter-spacing: .5px;
      line-height: 24px;
      text-transform: capitalize;
      margin-bottom: 0;
      a {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        color: var(--color-offblack);
        &:hover {
          color: var(--color-brand-blue-500);
        }
      }
    }
  }
  &__card-image {
    overflow: hidden;
    border-radius: var(--rounded-md);
    // Fixed height for consistent card sizing
    height: 200px; 

    img { 
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures the image covers the container
    }

  }
  &__published-date {
    display: flex;
    margin-top: auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .25px;
    color: var(--color-brand-gray-600);
  }
}
.user-news-feed-modal {
  width: 100%;
  height: 100%;
  background-color: var(--color-offblack);
  z-index: 9999;
  top: 0;
  &__content-container {
    position: absolute;
    inset: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    @include min(md) {
      width: 50%;
      height: 70%;
      margin: auto;
      border-radius: var(--rounded-md);
      box-shadow: var(--md-box);
    }
  }
  &__header {
    h5 {
      color: var(--color-offblack);
      @include title-xs($font-size: 20px, $margin-bottom: 0, $letter-spacing: .15px);
      padding: 24px 16px 16px;
      border-bottom: 1px solid var(--color-brand-gray-200);
    }
    p {
      margin-bottom: 0;
      padding: 0 16px 16px;
      border-bottom: 1px solid var(--color-brand-gray-200);
    }
  }
  &__selected {
    padding-bottom: 16px;
    h6 {
      @include title-xs($font-size: 20px, $margin-bottom: 0, $letter-spacing: .15px);
      color: var(--color-offblack);
      padding-left: 16px;
    }
  }
  &__selected-count {
    background-color: var(--color-brand-blue-800);
    color: var(--color-white);
    font-size: 14px;
    border-radius: 12px;
    padding: 4px;
    width: auto;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &__filter-pills {
    padding: 0 16px 16px;
    border-bottom: 1px solid var(--color-brand-gray-200);
    div {
      background-color: var(--color-brand-blue-50);
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 32px;
      font-family: var(--font-whitney-semibold);
      color: var(--color-brand-blue-800);
      i {
        color: var(--color-brand-blue-500);
        font-size: 14px;
        cursor: pointer;
        position: relative;
        top: 2px;
      }
    }
  }
  &__filter {
    h6 {
      padding: 0 16px;
      color: var(--color-offblack);
      @include title-xs($font-size: 20px, $margin-bottom: 0, $letter-spacing: .15px);
    }
    label {
      padding: 16px;
    }
    label:nth-child(even) {
      background-color: #f7f7f7;
    }
    input[type='checkbox'] {
      width: 18px;
      height: 18px;
      accent-color: var(--color-brand-blue-500);
    }
  }
  &__filter-label {
    &--checked {
      color: var(--color-brand-blue-500);
      font-family: var(--font-whitney-semibold);
    }
  }
  &__footer {
    border-top: 1px solid var(--color-brand-gray-200);
    height: 100%;
    align-items: flex-end;
    flex: 1;
  }
  &__footer-buttons {
    padding: 16px;
    button {
      cursor: pointer;
      color: var(--color-brand-blue-500);
      &:hover {
        color: var(--color-brand-blue-800);
      }
      &:first-child {
        color: var(--color-brand-violet-600);
        &:hover {
          color: var(--color-brand-blue-800);
        }
      }
    }
  }
}
