.material-icon {
  font-style: normal;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.material-icons-outlined {
    font-family: var(--font-material-icons-outlined);
  }

  &.custom-svg {
    font-family: inherit;
    font-style: inherit;
    line-height: inherit;
    
    // Make font-size control both Material Icons and SVG size
    width: 1em;
    height: 1em;
    
    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;

      path {
        fill: currentColor;
      }
    }
  }
}