/* @import "tailwindcss"; */
@import "~@laitram-l-l-c/intralox-tailwind-config/theme.css";
/* @import "@laitram-l-l-c/intralox-ui-components/dist/intralox-ui-components.css"; */
/* @import "~@laitram-l-l-c/intralox-ui-components/fonts/fonts.css"; */

@import "./base/index.css";
@import "./components/index.css";

/* bootstrap grid to tailwind plugin */
@plugin 'tailwind-bootstrap-grid' {
  container_max_widths:
    "sm", "576px", "md", "768px", "lg", "1025px", "xl", "1200px", "2xl", "1400px";
}

/* preload tailwind-bootstrap-grid utility classes; */
/* responsive classes are in base/tailwind-bootstrap-grid */
@source inline("col-{1..12}");
@source inline("offset-{1..12}");

@layer base {
  @font-face {
    font-family: "Helvetica Neue LT Pro";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url("../assets/fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue LT Pro";
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    src: url("../assets/fonts/HelveticaNeueLTStd-Md.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue LT Pro";
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url("../assets/fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2");
    font-display: swap;
  }

  body {
    @apply font-sans;
  }
}

.flex-splitter {
  @apply flex items-center justify-center;
}
