<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<group groupName="layoutService">
				<pipelines>
					<getLayoutServiceContext>
						<processor type="Intralox.Platform.Pipelines.ContextExtension, Intralox.Platform" resolve="true">
						</processor>
					</getLayoutServiceContext>
				</pipelines>
			</group>
		</pipelines>
		<settings>
			<setting name="LayoutService.DetailedRenderingParams" value="false">
				<patch:attribute name="value">true</patch:attribute>
			</setting>
		</settings>

		<linkManager>
			<providers>
				<add name="localizedProvider">
					<patch:attribute name="lowercaseUrls">true</patch:attribute>
				</add>
			</providers>
		</linkManager>
		
		<links>
			<urlBuilder>
				<lowercaseUrls>true</lowercaseUrls>
			</urlBuilder>
		</links>

		<setting name="List.DefaultPageSize">
			<patch:attribute name="value">500</patch:attribute>
		</setting>

		<settings>
			<setting name="Query.MaxItems">
				<patch:attribute name="value">500</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>